body {
    min-height: 75rem; /* Can be removed; just added for demo purposes */
    padding-top: 65px;
  }
  .navbar {
    margin-bottom: 0;
  }
  
  
  .album {
    min-height: 50rem; /* Can be removed; just added for demo purposes */
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #f7f7f7;
  }
  
  .card {
    float: left;
    width: 33.333%;
    padding: .75rem;
    margin-bottom: 2rem;
    border: 0;
    position: relative;
  }

  .img-clip {
    width: 250px;
    height: 250px;
    overflow: hidden;
    display:inline-block;
    position: relative;
  }

  .img-container {
    
    width: 250px;
    height: 250px;
    display:inline-block;
  }

  .hover-text {
    top: 0;
    left: 0;
    width: 250px;
    height: 250px;
    position: absolute;
    z-index: 10;

    background: rgba(0, 0, 0, 0.5);
    opacity: 0.75;
    color: white;
    font-size: 2em;
  }
  
  .img-clip img {
    left: 50%;
    position: relative;
    transform: translateX(-50%);
  }

  .card > img {
    margin-bottom: .75rem;
  }
  
  .card-text {
    font-size: 1.25em;
  }
  
  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  footer p {
    margin-bottom: .25rem;
  }